<form
  class="form-horizontal"
  autocomplete="off"
  #createstudentModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewStudent' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'StudentDetails' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              maxlength="32"
              [(ngModel)]="student.firstName"
              #firstNameModel="ngModel"
              #firstNameEl
            />
            <abp-validation-summary
              [control]="firstNameModel"
              [controlEl]="firstNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            {{ "Surname" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="surname"
              id="surname"
              required
              maxlength="32"
              [(ngModel)]="student.lastName"
              #lastNameModel="ngModel"
              #lastNameEl
            />
            <abp-validation-summary
              [control]="lastNameModel"
              [controlEl]="lastNameEl"
            ></abp-validation-summary>
          </div>
        </div>
       
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="emailAddress">
            {{ "EmailAddress" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="email"
              class="form-control"
              name="emailAddress"
              id="emailAddress"
              required
              maxlength="256"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
              [(ngModel)]="student.email"
              #emailModel="ngModel"
              #emailEl
            />
            <abp-validation-summary
              [control]="emailModel"
              [controlEl]="emailEl"
            ></abp-validation-summary>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createstudentModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
